body {
  background-color: #000000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.image {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  margin-left: 45vw;
}

.header {
    background-image: repeating-linear-gradient(to left,red, rgb(255, 0, 93), white, rgb(0, 255, 136), rgb(132, 0, 255), rgb(58, 121, 255), white, rgb(255, 98, 0));
    background-size: 200%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    font-family: 'Oswald';
    font-size: 11vw;
    top: 20%; 
    width: 50%; 
    text-align: right;
    line-height: 100%;
    color: black;
    -webkit-text-stroke-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 3px;
    animation: moveBackground 4s infinite linear;
}

h2 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    font-family: 'Oswald';
    color: rgb(189, 189, 189);
    font-size: 2vw;
    width: 50%; 
    text-align: right;
}

h1 {
    margin: 0 0 0 0;
    /* display: none; */
    user-select: none;
    padding: 0 0 0 0;
    position: absolute;
    font-family: 'Oswald';
    font-size: 7vw;
    line-height: 7vw;
    color: transparent;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 2px;
    animation: moveBackground 4s infinite linear;
}

.content {
    position: absolute;
    background-color: white;
    height: 40vw;
    width: 50vw;
    border-radius: 5vw;
    transform: translate(0, -50%);
    shape-outside: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
    box-shadow: 20px 20px 20px #0000008a;
}

ol {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

ol li {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.content_text {
    position: relative;
    padding: 5% 5% 5% 5%;
    font-family: "Basic";
    font-size: 2vw;
    color: rgb(255, 0, 85);
}

a {
    color: inherit;
    text-decoration: none;
}

.left_arrow {
    display: inline;
}

.right_arrow {
    display: inline;
}

.counter_wrapper {
   display: inline; 
}

.counter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5%;
    font-family: 'Basic';
    font-size: 2vw;
    color: rgb(255, 0, 85);
}

.animationadded {
    animation-fill-mode: forwards;
    animation: slidein 2s ease-in-out;
}

@keyframes slidein {
    0% {
        transform: translate(200%, -50%);
    }
    90% {
        transform: translate(-2%, -50%);
    }
}

@keyframes moveBackground {
    from {
        background-position: 0%;
    }
    to {
        background-position: -200%;
    }
}

.hex {
    transition: 0.5s ease-in-out;
}
.hex:hover {
    fill: #000000c0;
    transition: 0.5s ease-in-out;
}

.hexagon {
    position: absolute;
    transform: translate(0,-50%);
}

.arrow {
    position: absolute;
    transform: translate(0, -50%);
}

.animated {
    animation-fill-mode: forwards;
    animation: appear 1.5s ease-in-out;
}

#hex1:hover ~ #text1 { opacity: 100%;}
#hex2:hover ~ #text2 { opacity: 100%;}
#hex3:hover ~ #text3 { opacity: 100%;}
#hex4:hover ~ #text4 { opacity: 100%;}
#hex5:hover ~ #text5 { opacity: 100%;}
#hex6:hover ~ #text6 { opacity: 100%;}

.circle {
    position: absolute;
    height: 2vh;
    width: 2vh;
    background-color: white;
    border-radius: 1vh;
}

@keyframes grow {
    from {
        height: 0vh;
        width: 0vh;
    }
    to {
        height: 600vh;
        width: 600vh;
        border-radius: 300vh;
        transform: translate(-299vh, -299vh);
    }
}

@keyframes growandshrink {
    0% {
        height: 0vh;
        width: 0vh;
    }
    50% {
        height: 600vh;
        width: 600vh;
        border-radius: 300vh;
        transform: translate(-299vh, -299vh);
    }
    100% {
        height: 0vh;
        width: 0vh;
    } 
}

@keyframes appear {
    from {
        height: 0vw;
        width: 0vw;
    }
}

.text {
    opacity: 5%;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.text:hover {
    opacity: 100%;
}

.back_button {
    display: none;
    position: fixed;
    color: white;
    top: 5%;
    right: 5%;
    font-family: 'Oswald';
    font-size: 5vh;
    transform: scale(1.7,1);
    z-index: 1;
}

.visible {
    display: block;
    animation: vis 2s ease-in-out;
}

#about_me_hex {top: 150%; left: 1%;}
#work_hex {top: 250%; left: 1%;}
#projects_hex {top: 350%; left: 1%;}
#working_on_hex {top: 450%; left: 1%;}
#contact_me_hex {top: 550%; left: 1%;}

#about_me_content {top: 150%; left: 40%;}
#work_content {top: 250%; left: 40%;}
#projects_content {top: 350%; left: 40%;}
#working_on_content {top: 450%; left: 40%;}

.contact {
    display: block;
    position: absolute;
    transform: translate(0, -50%);
}

#mail {top: 550%; left: 40%;}
#github {top: 552%; left: 60%;}
#linkedin {top: 550%; left: 80%;}

@keyframes vis {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

::-webkit-scrollbar {
    width: 2px;
    background-color: rgb(50, 50, 50);
}

::-webkit-scrollbar-thumb {
    background-color: white;
    height: 10px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: rgb(50, 50, 50);
}

@media only screen and (max-width: 500px) {
    html {
        overflow-x: hidden;
    }
    body {
        /* margin: 0 0 0 0; */
        /* padding: 0 0 0 0; */
        width: 100%;
        overflow-y: visible;
        overflow-x: hidden;
    }
    .image {
        display: none;
    }
    h2 {
        width: 100%;
        right: 2%;
        font-size: 6vh;
        text-align: center;
    }
    .header {
        display: block;
        width: 100%;
        text-align: center;
        right: 0%;
        font-size: 14.5vh;
        top: 50%;
        transform: translate(0,-60%);
    }
    #instruction {display: none;}
    #bck_btn {display: none;}
    .visible {
        display: none;
    }
    .content {
        height: 90vw;
        width: 90vw;
        border-radius: 9vw;
        transform: translate(-50%, 0);
    }
    .content_text {font-size: 2.5vh;}
    .counter {font-size: 2.5vh;}
    .hexagon {
        width: 80vw;
        height: auto;
        transform: translate(-50%, 0);
    }
    .animated {
        animation: none;
    }
    .animationadded {
        animation: none;
    }
    #about_me_hex { top: 100%; left: 50%;}
    #work_hex { top: 200%; left: 50%;}
    #projects_hex { top: 300%; left: 50%;}
    #working_on_hex { top: 400%; left: 50%;}
    #contact_me_hex { top: 500%; left: 50%;}

    #about_me_content {top: 145%; left: 50%;}
    #work_content {top: 245%; left: 50%;}
    #projects_content {top: 345%; left: 50%;}
    #working_on_content {top: 445%; left: 50%;}
    .contact {
        display: block;
        position: absolute;
        transform: translate(0, -50%);
        width: 26vw;
        height: auto;
    }
    
    #mail {top: 570%; left: 5%;}
    #github {top: 570%; left: 38%;}
    #linkedin {top: 570%; left: 70%;}
}