*
{
    margin: 0;
    padding: 0;
}

/* 
------------------------------------------------------------------------------------
Setup 
------------------------------------------------------------------------------------
*/
header
{   
    background-image: linear-gradient(rgb(27, 31, 47),rgb(27, 31, 47));
    background-attachment: static;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.header_2
{   
    background-image: linear-gradient(rgb(27, 31, 47),rgb(27, 31, 47));
    background-attachment: static;
    height: 200vh;
    background-size: cover;
    background-position: center;
}

.header_3
{   
    background-image: linear-gradient(rgb(27, 31, 47),rgb(27, 31, 47));
    background-attachment: static;
    height: 150vh;
    background-size: cover;
    background-position: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(27, 31, 47);
    border-radius: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #afb5b4;
    border-radius: 2px;
  }

#profile {
    background-image: url(images/IMG_20220423_073143.jpg.png);
    width: 550px;
    height: 500px;
    position: absolute;
    left: 600px;
    top: 50px;
    animation: fadeIntext 0.4s;
  }
/* 
------------------------------------------------------------------------------------
Side Bar Content 
------------------------------------------------------------------------------------
*/

@keyframes pullout {
    0% { opacity: 0; width: 0px;}
    100% { opacity: 1; width: 100px;}
}

.nav-bar
{
    background: rgb(0,0,0,0.5);
    height: 100%;
    width: 100px;
    position: fixed;
    animation: pullout 1s;
}

.menu
{
    float: left;
    list-style: none;
    margin: 20px;
    padding-top: 150px;
}

.menu li
{
    display: block;
    margin: 10px 5px;
}

/* 
------------------------------------------------------------------------------------
Sidebar Items
------------------------------------------------------------------------------------
*/

@keyframes fadeIn {
    0% { opacity: 0}
    100% { opacity: 1;}
}

.menu #profile {
    background-image: url("images/profile.png");
    background-size: cover;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 45px;
    height: 45px;
    animation: fadeIn 4s;
    transition: all 0.4s ease;
    border-left: 0px solid #ffffff00;
}

.menu #profile:hover
{
    border-width: 2px;
    border-color: #00fae6;
    height: 60px;
    width: 60px;
    transition: all 0.4s ease;
}
.menu #mail {
    background-image: url("images/Mail-Icon-White-on-Black.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    animation: fadeIn 4s;
    transition: all 0.4s ease;
    border-left: 0px solid #ffffff00;
}

.menu #mail:hover
{
    border-width: 2px;
    border-color: #00fae6;
    height: 60px;
    width: 60px;
    transition: all 0.4s ease;
}

.menu #github {
    background-image: url("images/github-hollow.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    animation: fadeIn 4s;
    transition: all 0.4s ease;
    border-left: 0px solid #ffffff00;
}

.menu #github:hover
{
    border-width: 2px;
    border-color: #00fae6;
    height: 60px;
    width: 60px;
    transition: all 0.4s ease;
}

.menu #linkedin {
    background-image: url("images/linkedin\ symbol.png");
    background-size: cover;
    width: 45px;
    height: 45px;
    animation: fadeIn 4s;
    padding-top: 2px;
    padding-left: 5px;
    transition: all 0.4s ease;
    border-left: 0px solid #ffffff00;
}

.menu #linkedin:hover
{
    border-width: 2px;
    border-color: #00fae6;
    height: 60px;
    width: 60px;
    transition: all 0.4s ease;
}

/* 
------------------------------------------------------------------------------------
Text
------------------------------------------------------------------------------------
*/

.welcome_text
{
    text-decoration: none;
    color: #00fae6;
    float: center;
    text-align: left;
    font-family: SF-Mono;
    padding-left: 100px;
    padding-top: 100px;
}

@keyframes fadeIntext {
    0% { opacity: 0; padding-top: 150px;}
    100% { opacity: 1; padding-top: 2px;}
}


.welcome_text h1
{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px; 
    animation: fadeIntext 2s;
}

.welcome_text h2 {
    overflow: hidden;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 35px; 
    margin: 15px;
    animation: fadeIntext 2s;
    color: #afb5b4;
}

.welcome_text h2 a{
    overflow: hidden;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeIntext 2s;
    color: #fed402;
}

.welcome_text h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-left: 50px;
    color: #00fae6;
    animation: fadeIntext 2s;
}

/* 
------------------------------------------------------------------------------------
Sidebar Items - Resume
------------------------------------------------------------------------------------
*/

.menu #education {
    background-image: url("images/education.jpg");
    background-size: cover;
    width: 100%;
    height: 35px;
    animation: fadeIn 4s;
    transition: all 0.4s ease;
    border-left: 0px solid #ffffff00;
    padding-bottom: 10px;
}

.menu #education:hover
{
    border-width: 2px;
    border-color: #00fae6;
    transition: all 0.4s ease;
}

.menu #experience {
    background-image: url("images/experience.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    animation: fadeIn 4s;
    transition: all 0.4s ease;
    border-left: 0px solid #ffffff00;
}

.menu #experience:hover
{
    border-width: 2px;
    border-color: #00fae6;
    transition: all 0.4s ease;
}

.menu #projects {
    background-image: url("images/coding\ experience.jpg");
    background-size: cover;
    width: 100%;
    height: 35px;
    animation: fadeIn 4s;
    transition: all 0.4s ease;
    border-left: 0px solid #ffffff00;
}

.menu #projects:hover
{
    border-width: 2px;
    border-color: #00fae6;
    transition: all 0.4s ease;
}
.menu #awards {
    background-image: url("images/awards.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
    animation: fadeIn 4s;
    transition: all 0.4s ease;
    border-left: 0px solid #ffffff00;
}

.menu #awards:hover
{
    border-width: 2px;
    border-color: #00fae6;
    transition: all 0.4s ease;
}

.menu #back {
    background-image: url("images/backarrow.jpg");
    background-size: cover;
    width: 45px;
    height: 45px;
    animation: fadeIn 4s;
    padding-left: 5px;
    transition: all 0.4s ease;
    border-left: 0px solid #ffffff00;
}

.menu #back:hover
{
    border-width: 2px;
    border-color: #00fae6;
    transition: all 0.4s ease;
}