.home {
    width: 100vw;
    height: 100vh;
    background: #1a1a1a;
    color: white;
    display: grid;
    place-items: center;
}

.text {
    text-align: center;
}

.text h1 {
    font-size: 10vmax;
}

.text h2 {
    font-size: 3vmax;
}

.text h3 {
    font-size: 1.3vmax;
}

.typing {
    display: inline-block;
}

.typing h1 {
    display: inline;
}

.cursor {
    display: inline;
    animation: blink 1s infinite;
}

@media (max-width: 768px) {
    .text h2 {
        font-size: 12vw;
    }

    .text h3 {
        font-size: 4vw;
    }

    .typing h1 {
        font-size: 10vw;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}